.user-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-list li {
  margin: 0.3rem;
  text-align: center;
  width: 300px;
  border-radius: 5px;
}

.user-list li:hover {
  background-color: #cecece44;
  transform: translateX(5px);
  transition: all 100ms;
}

.user-list li a {
  display: block;
  padding: 1rem;
}

.user-list {
  height: 100%;
  display: flex;
  justify-content: center;
}

address p {
  margin: 0.3rem;
}